<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erika Egliskis - Contact Me</title>
  <meta name="author" content="Erika Egliskis">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Contact Erika Egliskis">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="../static/script.js" defer></script>

</head>
<body>
<header>
  <h1 id="webname">Erika Egliskis</h1>
  <nav class="nav">
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a></li>
        <a href="contact.html">Contact</a>
        <a href="fun.html">Other</a>
    </nav>
  </header>
  
  <div class="main">
    <h2>Contact Me</h2>

    <form action="#" method="post">
      <label for="name">Your name (required):</label><br>
      <input type="text" id="name" name="name" required><br><br>
      
      <label for="email">Your email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      
      <label for="comment">Your comment:</label><br>
      <textarea id="comment" name="comment" required></textarea><br><br>
      
      <input type="submit" value="Submit">
    </form>

    <table border="1">
      <thead>
        <tr>
          <th>Type</th>
          <th>Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Email</td>
          <td><a href="mailto:eegliski@andrew.cmu.edu">eegliski@andrew.cmu.edu</a></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>+1 (609) 216-0590</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <footer>
    <p>&copy; designed and coded by Erika Egliskis</p>
  </footer>
</body>
</html>
