<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erika Egliskis - Curriculum Vitae</title>
  <meta name="author" content="Erika Egliskis">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Erika Egliskis professional CV">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
  <header>
    <h1 id="webname">Erika Egliskis</h1>
    <nav class="nav">
          <a href="../index.html">Home</a>
          <a href="cv.html">CV</a></li>
          <a href="contact.html">Contact</a>
          <a href="fun.html">Fun</a>
      </nav>
    </header>
  
<div class="main">
  <h2>Curriculum Vitae</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Erika Egliskis</td>
        <td>Fine Arts student at Carnegie Mellon University.</td>
      </tr>
      <tr>
        <td>Education</td>
        <td>Carnegie Mellon University '27; The Peddie School '23</td>
      </tr>
      <tr>
        <td>Skills</td>
        <td>Python, JavaScript, C, HTML</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>Worked on various art-technology installations.</td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="../static/ErikaAEgliskisResume.pdf" target="_blank">Download my Resume (PDF)</a>
  </p>
  <footer>
    <p id="copyYear">designed and coded by Erika Egliskis</p>
  </footer>