<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erika Egliskis - Things I Love to Do for Fun</title>
  <meta name="author" content="Erika Egliskis">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Fun activities by Erika Egliskis">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="../static/script.js" defer></script>
</head>

<body onload="addYear()">
  <header>
    <h1 id="webname">Erika Egliskis</h1>
    <nav class="nav">
      <a href="../index.html">Home</a>
      <a href="cv.html">CV</a>
      <a href="contact.html">Contact</a>
      <a href="fun.html">Other</a>
    </nav>
  </header>
  
  <div class="main">
    <h2>Things I Love to Do for Fun</h2>

    <!-- Button to reveal the list -->
    <button id="showButton" onclick="showList()">Click to see</button>

    <!-- The List (Initially Hidden) -->
    <ul id="funList">
      <li>Tennis</li>
      <li>Travelling</li>
      <li>Trying new Foods</li>
      <li>Skiing</li>
    </ul>
  </div>
  
  <footer>
    <p id="copyYear">designed and coded by Erika Egliskis</p>
  </footer>
</body>
</html>
